body {
	background: #333;
	text-align: center;
	color: #EEE;
	font: 1em/150% 'Lucida Grande', Calibri, sans-serif;
	margin: 40px 20px;
}

h1 {
	font-weight: normal;
	margin: 12vh 0 0;
	font-size: 2.5em;
}
p.subtitle {
	color: #999;
	margin-top: 1.25em;
	font-size: 1.2em;
}

a.button, button, input[type='submit'] {
	cursor: pointer;
	color: #EEE;
	border: none;
	text-decoration: none;
}
button:disabled, .picked button { opacity: 0.25; }
button.picked:disabled, .picked button.picked { opacity: 1; }

#sinfo {
	margin: 100px auto 0;
	background: rgba(255,255,255,0.15);
	padding: 20px 0 0;
	border-radius: 10px;
	visibility: hidden;
}
#sinfo, #pick, #classlist a { max-width: 800px; }

#actions {
	padding: 0; margin: 0;
	list-style: none;
	display: flex;
	margin: 2em 0 0;
}
#actions li { flex: 1; }
#actions button {
	width: 100%;
	font-size: 4em;
	padding: 10px 0;
	height: 1.5em;
	text-indent: -9999px;
	background-size: 1em 1em;
	background-repeat: no-repeat;
	background-position: center;
}
#actions li:first-child button { border-radius: 0 0 0 10px; }
#actions li:last-child button { border-radius: 0 0 10px 0; }
#good {
	background-color: #393;
	background-image: url('icon/svg.php?icon=check-lg&color=FFF');
}
#meh {
	background-color: #C92;
	background-image: url('icon/svg.php?icon=question-lg&color=FFF');
}
#bad {
	background-color: #C33;
	background-image: url('icon/svg.php?icon=x-lg&color=FFF');
}
#good:hover { background-color: #282; }
#meh:hover { background-color: #B81; }
#bad:hover { background-color: #B22; }

#pickwrap {
	position: absolute;
	bottom: 10vh;
	left: 40px; right: 40px;
}
#pick {
	width: 100%;
	background: #3A3;
	padding: 30px;
	border-radius: 50px;
	font-size: 28px;
}
#pick:hover { background: #292;}

#classlist {
	margin: 0; padding: 0;
	list-style: none;
	position: absolute;
	left: 40px; right: 40px;
	bottom: 40px;
}

#classlist a:not(#pick) {
	display: block;
	font-size: 2em;
	color: #CCC;
	text-decoration: none;
	padding: 0.75em 0;
	width: 100%;
	border-top: 1px solid rgba(255,255,255,0.2);
	margin-left: auto; margin-right: auto;
}
#classlist a:not(#pick):hover {
	background: rgba(255,255,255,0.05);
	color: #DDD;
}
#classlist li:last-child a:not(#pick) { border-bottom: 1px solid rgba(255,255,255,0.2); }
#classlist a span {
	display: block;
	font-size: 0.5em;
	margin-top: 0.25em;
	color: #999;
}
.noclasses {
	font-size: 2.25em;
	color: #777;
}
.noclasses #pick {
	display: block;
	margin: 2em auto;
	width: auto;
}

#adminbutton {
	display: inline-block;
	border: 1px solid rgba(255,255,255,0.25);
	padding: 0.5em 1em;
	color: #999;
	font-size: 0.8em;
	border-radius: 30px;
	position: absolute;
	top: 20px; right: 20px;
}
#adminbutton:hover {
	background: rgba(255,255,255,0.1);
	border-color: rgba(255,255,255,0.35);
	color: #BBB;
}
#backbutton:hover {
	color: #999;
}
#backbutton {
	color: #777;
	text-decoration: none;
	position: absolute;
	left: 30px; top: 40px;
	font-size: 3em;
	font-weight: bold;
}