body {
	background: #333;
	text-align: center;
	color: #EEE;
	font: 1em/150% 'Lucida Grande', Calibri, sans-serif;
	margin: 40px 20px;
}

h1 {
	font-weight: normal;
	margin: 10vh 0 0;
}
p.subtitle {
	color: #999;
	margin-top: 0.5em;
}

button {
	cursor: pointer;
	color: #EEE;
	border: none;
}
button:disabled { opacity: 0.25; }
button.picked:disabled { opacity: 1; }

#sinfo {
	margin-top: 100px;
	background: rgba(255,255,255,0.15);
	padding: 20px 0 0;
	border-radius: 10px;
	visibility: hidden;
}

#actions {
	padding: 0; margin: 0;
	list-style: none;
	display: flex;
	margin: 2em 0 0;
}
#actions li { flex: 1; }
#actions button {
	width: 100%;
	font-size: 4em;
	padding: 10px 0;
}
#actions li:first-child button { border-radius: 0 0 0 10px; }
#actions li:last-child button { border-radius: 0 0 10px 0; }
#good { background: #393; }
#meh { background: #C92; }
#bad { background: #C33; }
#good:hover { background: #282; }
#meh:hover { background: #B81; }
#bad:hover { background: #B22; }

#pickwrap {
	position: absolute;
	bottom: 10vh;
	left: 40px; right: 40px;
}
#pick {
	width: 100%;
	background: #3A3;
	padding: 30px;
	border-radius: 50px;
	font-size: 28px;
}
#pick:hover { background: #292;}