body {
	background: #333;
	text-align: center;
	color: #EEE;
	font: 1em/1.5em 'Lucida Grande', Calibri, sans-serif;
	margin: 0;
	overflow: hidden;
}
#bodywrap { /* Necessary because of a dumb Samsung Browser bug */
	overflow-x: hidden;
	padding: 40px 20px;
	height: 100vh; height: 100svh; /* incl. fallback */
	width: 100vw;
	box-sizing: border-box;
	position: relative;
}

h1 {
	font-weight: normal;
	margin: 6vh 0 0;
	font-size: 2.5em;
}
p.subtitle {
	color: #999;
	margin-top: 1.25em;
	font-size: 1.2em;
}

a.button, button, input[type='submit'] {
	cursor: pointer;
	color: #EEE;
	border: none;
	text-decoration: none;
}
button:disabled, .picked button { opacity: 0.25; }
button.picked:disabled, .picked button.picked { opacity: 1; }

#actions {
	display: flex;
	justify-content: space-between;
	max-width: 800px;
	margin: 2.25em auto 0;
}
#actions a {
	height: 3em; width: 3em;
	text-indent: -9999px;
	opacity: 0.5;
}
#actions a:hover { opacity: 0.75; }
#actions a.disabled {
	opacity: 0.1;
	pointer-events: none;
}
#actions #back { background: url("icon/svg.php?icon=caret-left-fill&color=FFF") left/2.5em 2.5em no-repeat; }
#actions #snooze {
	position: relative;
	background: url("icon/svg.php?icon=moon-fill&color=FFF") center/2em 2em no-repeat;
}
#actions #forward { background: url("icon/svg.php?icon=caret-right-fill&color=FFF") right/2.5em 2.5em no-repeat; }
#snooze[data-excused]::after {
	content: attr(data-excused);
	position: absolute;
	display: block;
	top: -1em; left: 1.5em;
	text-indent: 0;
	color: #EEE;
	white-space: nowrap;
	background: #111;
	padding: 2px 10px;
	border-radius: 4px 4px 4px 0;
}
#snooze[data-excused]::before {
	position: absolute;
	display: block;
	border-width: 0.25em 0.5em;
	border-style: solid;
	border-color: #111 transparent transparent #111;
	content: '';
	left: 1.5em; top: 0.75em;
}

#sinfo { position: relative; }
#sinfo > div {
	margin: 1em auto 0;
	background: rgba(255,255,255,0.15);
	padding: 2.25em 0 0;
	border-radius: 10px;
	position: absolute;
	transition: left 0.25s;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
}
#sinfo > .out { left: -420px; }
#sinfo > .in { left: calc(100vw + 380px); } /* Asymmetric because of our centering trick with translateX */
#sinfo > div, #pick, #classlist a { max-width: 800px; }
#sinfo h2 {
	margin: 0;
	font-size: 1.75em;
}
.dupename { border-bottom: 3px dotted rgba(255,255,255,0.15); }
.note {
	margin: 0.5em 2em 0;
	font-style: italic;
	color: #CCC;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1.5em;
}

#sinfo ul {
	padding: 0; margin: 0;
	list-style: none;
	display: flex;
	margin: 1.5em 0 0;
}
#sinfo li { flex: 1; }
#sinfo button {
	width: 100%;
	font-size: 4em;
	padding: 10px 0;
	height: 1.5em;
	background-size: 1em 1em;
	background-repeat: no-repeat;
	background-position: center;
	color: #FFF;
}
#sinfo li:first-child button { border-radius: 0 0 0 10px; }
#sinfo li:last-child button { border-radius: 0 0 10px 0; }

#pickwrap {
	position: absolute;
	bottom: 8vh;
	left: 40px; right: 40px;
}
#pick {
	width: 100%;
	background: #3A3;
	padding: 28px;
	border-radius: 50px;
	font-size: 2rem;
	display: inline-block;
}
#pick:hover { background: #292;}
#pick:active { background: #181; }

#classlist {
	margin: 0; padding: 0;
	list-style: none;
	position: absolute;
	left: 40px; right: 40px;
	bottom: 40px;
}

#classlist a:not(#pick) {
	display: block;
	font-size: 1.8em;
	color: #CCC;
	text-decoration: none;
	padding: 0.7em 0;
	width: 100%;
	border-top: 1px solid rgba(255,255,255,0.2);
	margin-left: auto; margin-right: auto;
}
#classlist a:not(#pick):hover {
	background: rgba(255,255,255,0.05);
	color: #DDD;
}
#classlist li:last-child a:not(#pick) { border-bottom: 1px solid rgba(255,255,255,0.2); }
#classlist a span {
	display: block;
	font-size: 0.555em;
	margin-top: 0.25em;
	color: #999;
}
#classlist h2 {
	font-size: 1em;
	text-transform: uppercase;
}
#classlist h2 span {
	color: #999;
	font-weight: normal;
	text-transform: none;
}
.noclasses {
	font-size: 2.25em;
	color: #777;
}
.noclasses #pick {
	display: block;
	margin: 2em auto;
	width: auto;
}

#logo {
	background: url("icon/svg.php?icon=logo&color=FFF") center no-repeat;
	text-indent: -9999px;
	opacity: 0.8;
	height: 1.5rem;
}
h1#logo { height: 1.5em; }

#adminbutton {
	display: inline-block;
	border: 1px solid rgba(255,255,255,0.25);
	padding: 0.5em 1em;
	color: #999;
	font-size: 0.8em;
	border-radius: 30px;
	position: absolute;
	top: 20px; right: 20px;
}
#adminbutton:hover {
	background: rgba(255,255,255,0.1);
	border-color: rgba(255,255,255,0.35);
	color: #BBB;
}
#backbutton, #rosterlist, #rosterclose a {
	color: #FFF;
	opacity: 0.25;
	position: absolute;
	top: 40px;
	text-decoration: none;
}
#backbutton {
	left: 30px;
	font-size: 3em;
	font-weight: bold;
}
#backbutton:hover, #rosterlist:hover, #rosterclose a:hover { opacity: 0.4; }

/* Roster list */

#rosterlist {
	background: url("icon/svg.php?icon=list&color=FFF") center/2em 2em no-repeat;
	height: 2em; width: 2em;
	right: 30px;
	text-indent: -9999em;
}

#roster {
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0; right: -18em;
	height: 100%; width: 18em;
	background: rgba(75,75,75,0.85);
	backdrop-filter: blur(10px);
	overflow-y: auto;
	scrollbar-color: rgba(255,255,255,0.25) rgba(75,75,75,0.85);
	transition: 0.2s right;
	z-index: 10;
}
#roster.open { right: 0; }

#roster li[data-id] {
	padding: 0.5em 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	font-size: 1.2em;
	color: rgba(255,255,255,0.75);
}
#roster li[data-id]:hover {
	background: rgba(255,255,255,0.1);
	color: #FFF;
}
#rosterclose {
	position: sticky;
	top: 0;
	text-align: right;
	padding: 30px 30px 0 0;
	backdrop-filter: blur(10px);
	font-size: 2em;
}
#rosterclose a { position: static; }
#roster .excused { opacity: 0.5; }
#roster .excused::after {
	content: '';
	background: url("icon/svg.php?icon=moon-fill&color=FFF") center/0.8em 0.8em no-repeat;
	height: 0.8em; width: 0.8em;
	float: right;
	margin-top: 5px;
	opacity: 0.75;
}

/* Small phones */

@media screen and (max-height: 42em) {
	body {font-size: 0.8em; }
	#bodywrap { padding: 20px; }
	#backbutton, #rosterlist { top: 20px; }
	#pickwrap { bottom: 6vh; }
	#pick { padding: 20px; }
}