body {
	background: #F3F3F3;
	color: #333;
	font: 1em/150% 'Lucida Grande', Calibri, sans-serif;
	margin: 20px 40px 40px;
}

h1 {
	margin: 0.35em 0;
	line-height: 150%;
}

#backlink {
  color: #999;
  font-size: 0.8em;
  display: inline-block;
}
#backlink:hover { color: #777; }
a { text-decoration: none; }

a.button, button, input[type='submit'] {
	display: inline-block;
	background: #369;
	padding: 8px 16px;
	color: rgba(255,255,255,0.85);
	border-radius: 20px;
	margin-top: 1em;
	cursor: pointer;
	border: none;
	font-size: 1.25em;
}

a.button:hover, button:hover, input[type='submit']:hover {
	background: #258;
}

input#name {
	font-size: 1.25em;
	padding: 10px 25px;
}
#selector-desc {
	color: #777;
	font-size: smaller;
	font-style: italic;
	margin-left: 15px;
}

#roster { border-collapse: collapse; }
#roster td { font-size: 0.85em; }
#roster td, #roster th {
	padding: 0 20px;
	border-left: 1px solid #CCC;
}
#roster tr th:first-child, #roster tr td:first-child {
	padding-left: 0;
	border-left: 0;
}
#roster th {
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
}
tr.odd { background: rgba(0,0,0,0.05); }
.nullscore { color: #AAA; }

#roster tfoot td { padding: 0; }
#roster tfoot a {
	text-align: center;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
	padding: 5px 0;
	border-top: 1px solid rgba(0,0,0,0.1);
}
#roster tfoot a:hover {
	background: rgba(0,0,0,0.1);
	color: #555;
}
#roster tfoot a.disabled {
	color: #CCC;
	cursor: default;
}
#roster tfoot a.disabled:hover { background: none; }
input.error { box-shadow: 0 0 3px 1px #D22; }

#csvfile { display: none; }
label[for="csvfile"] {
	cursor: pointer;
	border: 3px dashed rgba(0,0,0,0.15);
	padding: 20px 40px;
	display: inline-block;
	color: #555;
}
label[for="csvfile"]:hover { background: rgba(0,0,0,0.05); }
label.active[for="csvfile"] { background: rgba(0,0,0,0.1); }

.info {
	font-size: 0.8em;
	background: #F5F5CC;
	border: 1px solid #CC5;
	padding: 10px 20px;
	border-radius: 3px;
	display: inline-block;
}
.info.error {
	background: #F5CCCC;
	border-color: #C55;
}

/* ==============
   Action buttons
   ============== */

/* https://icons.getbootstrap.com */
.edit { background: url('../icon/pencil-fill.svg') center no-repeat; }
.save { background: url('../icon/check-lg.svg') center no-repeat; }
.cancel { background: url('../icon/x-lg.svg') center no-repeat; }
.delete { background: url('../icon/trash3-fill.svg') center no-repeat; }
.excuses { background: url('../icon/moon-fill.svg') center no-repeat; }

.edit, .actions a {
	color: #AAA;
	display: inline-block;
	padding: 0 0.6em;
	position: relative;
	height: 12px; width: 12px;
	background-size: 12px 12px;
	opacity: 0.25;
	font-size: 0.75em;
}
h1 .edit {
	height: 16px; width: 16px;
	background-size: 16px 16px;
}


.edit:hover, .actions a:hover { opacity: 0.75; }
#roster .actions {
	border-left-color: transparent;
	padding: 0 5px;
	font-size: 1em;
}
#roster .actions a { visibility: hidden; }
#roster tr:hover .actions, #roster tr.editing .actions { border-left-color: #CCC; }
#roster tr:hover .actions a, #roster tr.editing .actions a { visibility: visible; }
#roster [data-excused] .actions a.excuses { visibility: visible; }

tr:not(.nottip) .actions a:hover::after {
	content: attr(title);
	display: block;
	position: absolute;
	top: -30px; left: -2px;
	height: 24px;
	background: #000;
	border-radius: 3px;
	padding: 0px 10px;
	font-size: 0.9em;
	color: #CCC;
	white-space: nowrap;
	pointer-events: none;
}
tr:not(.nottip) .actions a:hover::before, .popup::after {
	content: '';
	display: block;
	position: absolute;
	border-color: #000 transparent transparent;
	border-style: solid;
	border-width: 5px;
	pointer-events: none;
	top: -6px;
}
.popup {
	background: rgba(0,0,0,0.8);
	text-align: center;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 4px;
	color: #CCC;
	font-size: 0.75em;
	position: absolute;
}
.popup::after {
	left: 50%; bottom: -10px;
	top: auto;
	margin-left: -6px;
	border-top-color: rgba(0,0,0,0.8);
}