body {
	background: #F3F3F3;
	color: #333;
	font: 1em/150% 'Lucida Grande', Calibri, sans-serif;
	margin: 40px 40px;
}

a.button, button {
	display: inline-block;
	background: #369;
	padding: 8px 16px;
	color: rgba(255,255,255,0.85);
	text-decoration: none;
	border-radius: 20px;
	margin-top: 1em;
	cursor: pointer;
}

a.button:hover, button:hover {
	background: #258;
}

input#name {
	font-size: 2em;
	padding: 10px 25px;
}

.edit {
	text-decoration: none;
	color: #AAA;
	display: inline-block;
	transform: scaleX(-1);
	margin: 0 0.75em;
	font-size: 0.75em;
}
.edit:hover { color: #888; }

#roster { border-collapse: collapse; }
#roster td { font-size: 0.85em; }
#roster td, #roster th {
	padding: 0 20px;
	border-left: 1px solid #CCC;
}
#roster tr th:first-child, #roster tr td:first-child {
	padding-left: 0;
	border-left: 0;
}
#roster th {
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
}
tr.odd { background: rgba(0,0,0,0.05); }