body {
	background: #F3F3F3;
	color: #333;
	font: 1em/150% 'Lucida Grande', Calibri, sans-serif;
	margin: 20px 40px 40px;
}

h1 {
	margin: 0.35em 0;
	line-height: 150%;
}

#backlink {
  text-decoration: none;
  color: #999;
  font-size: 0.8em;
  display: inline-block;
}
#backlink:hover { color: #777; }

a.button, button, input[type='submit'] {
	display: inline-block;
	background: #369;
	padding: 8px 16px;
	color: rgba(255,255,255,0.85);
	text-decoration: none;
	border-radius: 20px;
	margin-top: 1em;
	cursor: pointer;
	border: none;
	font-size: 1.25em;
}

a.button:hover, button:hover, input[type='submit']:hover {
	background: #258;
}

input#name {
	font-size: 1.25em;
	padding: 10px 25px;
}

.edit, .actions a {
	text-decoration: none;
	color: #AAA;
	display: inline-block;
	margin: 0 0.6em;
	font-size: 0.75em;
}
.edit { transform: scaleX(-1); } /* Flip the pencil */
.edit:hover, .actions a:hover { color: #888; }
.delete { opacity: 0.75; }
.delete:hover { opacity: 1; } /* Since the trash emoji doesn't take a color */
#roster .actions {
	border-left-color: transparent;
	padding: 0 5px;
	font-size: 1em;
}
#roster .actions a { visibility: hidden; }
#roster tr:hover .actions, #roster tr.editing .actions { border-left-color: #CCC; }
#roster tr:hover .actions a, #roster tr.editing .actions a { visibility: visible; }
#roster [data-excused] .actions a.excuses { visibility: visible; }

#roster { border-collapse: collapse; }
#roster td { font-size: 0.85em; }
#roster td, #roster th {
	padding: 0 20px;
	border-left: 1px solid #CCC;
}
#roster tr th:first-child, #roster tr td:first-child {
	padding-left: 0;
	border-left: 0;
}
#roster th {
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
}
tr.odd { background: rgba(0,0,0,0.05); }
.nullscore { color: #AAA; }

#roster tfoot td { padding: 0; }
#roster tfoot a {
	text-align: center;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	color: #777;
	padding: 5px 0;
	border-top: 1px solid rgba(0,0,0,0.1);
}
#roster tfoot a:hover {
	background: rgba(0,0,0,0.1);
	color: #555;
}
#roster tfoot a.disabled {
	color: #CCC;
	cursor: default;
}
#roster tfoot a.disabled:hover { background: none; }
input.error { box-shadow: 0 0 3px 1px #D22; }

.popup {
	background: rgba(0,0,0,0.8);
	text-align: center;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 4px;
	color: #CCC;
	font-size: 0.75em;
	position: absolute;
}
.popup::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%; bottom: -30px;
	margin-left: -10px;
	border-width: 15px 10px;
	border-style: solid;
	border-color: rgba(0,0,0,0.8) transparent transparent;
	pointer-events: none;
}

#csvfile { display: none; }
label[for="csvfile"] {
	cursor: pointer;
	border: 3px dashed rgba(0,0,0,0.15);
	padding: 20px 40px;
	display: inline-block;
	color: #555;
}
label[for="csvfile"]:hover { background: rgba(0,0,0,0.05); }
label.active[for="csvfile"] { background: rgba(0,0,0,0.1); }

.info {
	font-size: 0.8em;
	background: #F5F5CC;
	border: 1px solid #CC5;
	padding: 10px 20px;
	border-radius: 3px;
	display: inline-block;
}
.info.error {
	background: #F5CCCC;
	border-color: #C55;
}